REACT_APP_API_URL= #Sumadi video recording API. This URL should end with a trailing slash. Development environment example https://ng9xceypf6.execute-api.us-east-1.amazonaws.com/prod/
REACT_APP_LOAD_TESTING_ACCOUNT= #Sumadi account in that all the video chunks and process videos will be stored into the S3. This is part of the S3 bucket storage path.
REACT_APP_SUMADI_TOKEN= #Sumadi token authentication